<!DOCTYPE html>

<!-- Everything before <html> tag is used to beautify the webpage. You can copy it to your website without changing it for the same effect. -->

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ньютон</title>
</head>

<body>
<center>
	<h1>Привет! Предлагаю поучаствовать в моём маленьком исследовании :)</h1>
	<p>Заполните, пожалуйста, информацию о себе.</p>
	<form>
		<p><b>Укажите свой пол.</b></p>
		<input type="radio" required name="gender" value="Мужской">Мужской<br>
		<input type="radio" required name="gender" value="Женский">Женский<br>
		<p><b>Укажите свой возраст.</b></p>
		<input type="radio" required name="age" value="До 18">До 18<br>
		<input type="radio" required name="age" value="18 - 25">18 - 25<br>
		<input type="radio" required name="age" value="26 - 35">26 - 35<br>
		<input type="radio" required name="age" value="36 - 47">36 - 47<br>
		<input type="radio" required name="age" value="48+">48+<br>
		<p><b>Укажите свой уровень образования.</b></p>
		<input type="radio" required name="edlevel" value="Неоконченное среднее">Неоконченное среднее<br>
		<input type="radio" required name="edlevel" value="Среднее">Среднее<br>
		<input type="radio" required name="edlevel" value="Неоконченное высшее">Неоконченное высшее<br>
		<input type="radio" required name="edlevel" value="Высшее">Высшее<br>
		<p>И выберите, как Вы произносите фамилию известного учёного Исаака Ньютона?</p>
		<input type="radio" required name="accent" value="НьЮтон">НьЮтон<br>
        <input type="radio" required name="accent" value="НьютОн">НьютОн<br>
		<input type="radio" required name="accent" value="Оба варианта">Оба варианта<br>
		<p><input type="submit"></p>
	</form>
</center>
</body>

</html>